@import url('https://fonts.cdnfonts.com/css/earwig-factory');
@import url('https://fonts.cdnfonts.com/css/airfactoryrounded');
@import url('https://fonts.cdnfonts.com/css/wild-script');
@import url('https://fonts.cdnfonts.com/css/noto-sans-ethiopic');

h1 {
  font-family: 'Earwig Factory', sans-serif;
  text-align: center;
}

h2, h3, h4 {
  font-family: 'AirFactoryRounded', sans-serif;
}

#header {
  padding: 8px;
  font-size: 150%;
}

body {
  text-align: center;
}

#home-index-body-content {
  display: flex;
  flex-direction: left;
  justify-content: space-evenly;
}

p {
  font-family: 'Noto Sans Ethiopic', sans-serif;
}

a {
  font-family: 'Wild Script', sans-serif;
  
}

.error {
  color: red;
  font-style: italic;
}