<div id="footerCrate" />
<div id="footerConveyorBelt">
    <img src="~/img/conveyorBelt.png" alt="animated scrolling conveyor belt">
    <img src="~/img/conveyorBelt.png" alt="animated scrolling conveyor belt">
    <img src="~/img/conveyorBelt.png" alt="animated scrolling conveyor belt">
    <img src="~/img/conveyorBelt.png" alt="animated scrolling conveyor belt">
    <img src="~/img/conveyorBelt.png" alt="animated scrolling conveyor belt">
    <img src="~/img/conveyorBelt.png" alt="animated scrolling conveyor belt">
</div>
@* Image from https://www.vecteezy.com/vector-art/15486200-conveyor-belt-top-view-empty-production-line *@