<div id="header">
  <h1>dR. silLystringz Factory</h1>
  <p><em>The sililest around!</em></p>
  <div id="headerNavDiv">
    <button>@Html.ActionLink("Home", "Index", "Home")</button>
    <button>@Html.ActionLink("Engineers", "Index", "Engineers")</button>
    <button>@Html.ActionLink("Machines", "Index", "Machines")</button>
  </div>
  <br />
</div>